body {
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-size: 100%;

}

.cards {
    #box-shadow: 3px 3px 3px #737373;
    padding: 8px;
    #background-color:rgba(255,255,255,0.8);

}

.cards img {
    box-shadow: 5px 5px 4px #595959;
    border: 1px solid black;
     background-color: white;
}

.form {
  width: 400px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  #margin: auto;
  background-color: #ffffff;
  border: 1px solid black;
  #opacity: 0.6;
  #filter: alpha(opacity=60); /* For IE8 and earlier */
}

.firstrow{
  padding-top: 20px;
  margin-top: 20px;

}


table{
    #margin-top: 175px;
    #border: 1px solid black;


}

#secondrow {
    background-color:rgba(255,255,255,1);
}


.numofturns{
    text-align: center;
    font-weight: bold;
    fort-size: 30px;
    #background-color:rgba(101, 82, 55,0.8);
}



