<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Animal Kingdom Memory</title>
    <link rel="icon" type="image/png" href="cardIcon.ico">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <link rel="stylesheet" href="styles.css">

</head>
<body>

<audio th:if="${session.gameLogicKey.cardsEqual}" autoplay> <source src="elephant8.mp3" type="audio/mp3"></audio>

<div class="navbar navbar-light" style="background-color: RGBA(101,82,55,1.0);">
    <a class="navbar-brand" href="#">
        <img src="cardIcon.ico" width="50" height="50" >
       <span style="color:#CEE2B3" th:text="'Welcome ' + ${session.userkey.userName}"></span>
    </a>
        <button type="button" class="btn btn-outline-success">
            <a style="color:#CEE2B3 " href="/logout">Log Out </a></button>

        </div>



</nav>

    <table align = "center">
        <tr class ="firstrow">
            <td colspan=6><h2 class="title">Animal Kingdom Memory</h2></td>
        </tr>
        <tr>
            <td th:each="card : ${session.gameLogicKey.subList1}" class = "cards">
                <a th:href="'/grid?cardId=' + ${card.cardId}"><img th:if="${card.visible}" th:src="'/Animals/' + ${card.filename}" width="150px" height="150px"></a>
                <a th:href="'/grid?cardId=' + ${card.cardId}"><img th:if="${!card.visible}" src="/backside.png" width="150px" height="150px"></a>
            </td>
        </tr><tr>

        <td th:each="card : ${session.gameLogicKey.subList2}" class = "cards">
            <a th:href="'/grid?cardId=' + ${card.cardId}"><img th:if="${card.visible}" th:src="'/Animals/' + ${card.filename}" width="150px" height="150px"></a>
            <a th:href="'/grid?cardId=' + ${card.cardId}"><img th:if="${!card.visible}" src="/backside.png" width="150px" height="150px"></a>
        </td>
        </tr><tr>
        <td th:each="card : ${session.gameLogicKey.subList3}" class = "cards">
            <a th:href="'/grid?cardId=' + ${card.cardId}"><img th:if="${card.visible}" th:src="'/Animals/' + ${card.filename}" width="150px" height="150px"></a>
            <a th:href="'/grid?cardId=' + ${card.cardId}"><img th:if="${!card.visible}" src="/backside.png" width="150px" height="150px"></a>
        </td>

        </tr><tr>
        <td th:each="card : ${session.gameLogicKey.subList4}" class = "cards">
            <a th:href="'/grid?cardId=' + ${card.cardId}"><img th:if="${card.visible}" th:src="'/Animals/' + ${card.filename}" width="150px" height="150px"></a>
            <a th:href="'/grid?cardId=' + ${card.cardId}"><img th:if="${!card.visible}" src="/backside.png" width="150px" height="150px"></a>
        </td>
        </tr>
        <tr class = "firstrow">
            <td>&nbsp;</td>
        </tr>
    </table>



<div class="d-flex justify-content-center align-items-center container">
<div class="navbar navbar-light" style="background-color: RGBA(101,82,55,1.0);">
    <span class="numofturns" colspan="4" style="color:#CEE2B3" th:text="'Taken turns: ' + ${session.gameLogicKey.count}"></span>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span>
        <button type="button" class="btn btn-outline-success">

        <a style="color:#CEE2B3" href="/grid?resetGame=1">Reset Game</a></button>

    </span>
</div>

</div>



</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
