<!DOCTYPE html>
<hml lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

        <link rel="stylesheet" href="styles.css">

        <title>Animal Kingdom Memory</title>
        <link rel="icon" type="image/png" href="cardIcon.ico">
    </head>
<body style="background-image: url(castle.jpg)">

    <div class ="form" style ="color: white;">
        <div class="d-flex justify-content-center align-items-center container">
            <div class="form-group row">
                <div class="p-5 bg-sucess">
                <div class="text-center">
                    <p class = "title" style ="color: white;">Welcome to Memory Kingdom</p>

                    <h5>Please log in to play!</h5>
                    <form action="/login" method="POST">

                    <label for name="username" class="col-md-auto col-form-label">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Your username">
                    <label for password="password" class="col-sm col-form-label">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Your password">

                    <div class="col-sm-auto"><div class="p-2 bg-sucess">
                        <input type="submit" value="Login"/>
                    </div>
                    </div>
                        <p><h5>Not a member? Sign up <a href="/signup" class="link" style ="color: white;">here</a></h5></p></form>
                </div>
                </div>
            </div>
        </div>
    </div>



    </body>
</hml>