<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <link rel="stylesheet" href="styles.css">

    <meta charset="UTF-8">
    <title>Animal Kingdom Memory</title>
    <link rel="icon" type="image/png" href="cardIcon.ico">
</head>
<body style="background-image: url(castle.jpg)">

<div class ="form" style ="color: white;">

<div class="d-flex justify-content-center align-items-center container  ">
    <div class="p-5 bg-sucess">
<div class="form-group row">
    <div class="text-center">
    <form action="/signup" th:object="${user}" method="POST">
        <p class = "title" style ="color: white;">Welcome to Memory Kingdom</p>
        
        <h5>Register new user!</h5>
        <label align-text-center for name="mail" class="col-md-auto col-form-label">Mail</label>
        <input type="text" th:field="*{mail}" class="form-control" placeholder="Your e-mail" th:errorclass="error">
        <label th:if="${#fields.hasErrors('mail')}">Incorrect value in e-mail input!</label>

        <label for name="username" class="col-md-auto col-form-label">Username</label>
        <input type="text" class="form-control" th:field="*{userName}" name="username" placeholder="Your username" th:errorclass="error">
        <label th:if="${#fields.hasErrors('userName')}">Incorrect value in username input!</label>

        <label for password="password" class="col-sm col-form-label">Password</label>
        <input type="password" class="form-control" th:field="*{password}" name="password" placeholder="Your password" th:errorclass="error">
        <label th:if="${#fields.hasErrors('password')}">Incorrect value in password input!</label>

        <div class="col-sm-auto"><div class="p-2 bg-sucess">

            <p><input type="submit" value="Sign up"/></p>
        </div>
        </div>
        </div>
        </div>
        </div>
</div>
</form>
<ul>
    <li th:each="userInfo : ${session.users}" th:text="${userInfo}"></li>

</ul>

</div>


</body>
</html>